{% extends "base.html" %}

{% block app_content %}
  <h1>Forgot Password</h1>
  <hr />

  <div class="container ms-0 ps-0">
    <div class="col w-50">
      <form method="post">
        {{ form.csrf_token }}

        <div class="mb-3">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
        </div>

        <div class="mb-3 pt-3">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}